@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;

}

body {
    background-color:#000;
    font-family: "Mali", sans-serif;
    color:#ffff00;
    text-align: center;
    font-size: 1.3em;
    overflow-x: hidden;
}

h1, h2 {
    margin: 1em;
}

#form {
    position: absolute;
    margin: 1em 20em;
    padding: 3em;
    width: 50%;
}

h3 {
    display: none;
}

#form input {
    display: flex;
    margin: 1em 29em;
}

input {
    background-color: #837c7c;
}

#play-btn, #feedback-btn {
    background-color:#ffff00;
    font-family: "Mali", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #000;
    padding: 10px 12px;
}

#play-btn:hover, #feedback-btn:hover {
    background-color: #404040;
    color: #ffff00;
}

#form #play-btn {
    margin: 2em 12.3em;

}

.game-area {
    color: #000;
    background-color: #ffffff;
    margin: 2em 15.5em;
    width: 50%;
    height: 450px;
    text-align: left;
    font-size: 1.5em;
    position: absolute;
}

.modal-container {
    position: fixed;
    top: 13em;
    left: 23em;
    z-index: 1;
    background-color: #837c7c;
    color: #000;
    width: 25%;
    height: min-content;
    border: 2px solid #000;
}

.modal-content {
    padding: 1px 5px;
}

.close-btn {
    float: right;
    font-weight: 600;
    padding: 2px;
    margin-bottom: 5px;
}

.close-btn:hover, .close-btn:focus {
    color:#ffff00;
    background-color: #000;
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

.question-area {
    padding: 2em;
}

.question-area p {
    padding-bottom: 1em;
}

#submit-btn, #nxt-btn {
    margin: .5em .5em;
    font-family: "Mali", sans-serif;
    font-weight: 600;
    background-color: #404040;
    color: #ffff00;
    font-size: .8em;
    position: absolute;
    bottom: .5em;
    padding: 10px 12px;
}

#submit-btn:hover, #nxt-btn:hover {
    background-color: #ffff00;
    color: #000;
}

#nxt-btn {
    margin-left: 10em;
}

.score-area {
    font-size: 1.3em;
    width:100%;
    position: absolute;
    text-align: center;
    margin-top: 22em;
}

#feedback-space {
    font-size: 1.3em;
    position: absolute;
    margin: 0 23em;
}

.feedback-section textarea {
    background-color: #837c7c;
    display: flex;
    margin: 3em;
}

.feedback-section textarea:hover {
    background-color: #ffffff;
}

#feedback-btn {
    font-size: 1em;
}

#end-game {
    margin: 7em;
    font-size: 2em;
}

/* responsive design for 1600px screens and below */
@media screen and (max-width: 1600px) {
    #form {
        position: absolute;
        margin: 0 15em;
        padding: 6em 9em;
    }

    .game-area {
        margin: 2em 14em;
    }

    .modal-container {
        left: 20em;
    }

    #submit-btn, #nxt-btn {
        position: absolute;
        bottom: .5em;
    }

    #feedback-space {
        margin: 0 18em;
    }
}

/* responsive design for laptop screens 1280px and below */
@media screen and (max-width: 1280px) {
    #form {
        padding: 3em 9em;
    }


    #form input {
        margin: 0 0 2em 0;
        width: 250px;
    }

    #form #play-btn {
        margin-top: 1em;
    }

    .game-area {
        margin: 2em 12em;
        font-size: 1.2em;
    }

    .modal-container {
        top: 17em;
        left: 18em;
    }

    #feedback-space {
        margin: 0 12em;
    }
}

/* responsive design for screens 768px and below */
@media screen and (max-width: 768px) {
    body {
        font-size: large;
    }

    #form {
        margin: 0 5em;
        padding: 3em 9em;
    }

    .game-area {
        height: 385px;
        margin: 1em 9em;
    }

    .score-area {
        margin-top: 21em;
    }

    #feedback-space {
        margin: 1em 4em;
    }

    .feedback-section textarea {
        height: 300px;
    }
}

/* responsive design for screens 400px and below */
@media screen and (max-width:400px) {
    #form {
        margin: unset;
        padding: 3em;
    }

    .game-area {
        height: 385px;
        margin: 1em 0;
        width: 100%;
    }

    

    .modal-container {
        position: fixed;
        top: 20em;
        left: 2em;
        width: unset;
    }

    .score-area {
        margin-top: 19em;
    }

    #feedback-space {
        margin: 1em 0;
    }

    .feedback-section textarea {
        height: 300px;
        width: 100%;
        margin: 2em 0;
    }

    #end-game {
        margin: 2em;
    }
    
}

/* responsive design for screens 320px and below */
@media screen and (max-width: 320px) {
    body {
        font-size: small;
    }

    #form {
        padding: unset;
        margin: 2em 1.5em;
    }

    .game-area {
        height: 275px;
        margin: 1em 0;
        width: 100%;
    }

    .score-area {
        margin-top: 19em;
    }

    #feedback-space {
        margin: 1em 0;
    }

    .feedback-section textarea {
        height: 300px;
        width: 100%;
        margin: 1em 0 2em;
    }
    
    #end-game {
        margin: 6em 0;
        font-size: 1.5em;
    }
    
}