@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;600&display=swap');

body {
    background-color:#000;
    font-family: "Mali", sans-serif;
    color:#ffff00;
    text-align: center;
    font-size: 1.2em;
}

input {
    background-color: #404040;
}

#form {
    position: absolute;
    margin: 1em 15em;
    padding: 10em;
    flex-flow: column;
}

#first-name, #last-name {
}

#play-btn, #feedback-btn {
    background-color:#ffff00;
    font-family: "Mali", sans-serif;
    font-weight: 600;
}

.game-area {
    color: #000;
    background-color: #ffffff;
    margin: 2em auto;
    width:50%;
    height: 450px;
    text-align: left;
    font-size: 1.5em;
}

.hide {
    visibility: hidden;
}

.question-area {
    padding: 1em;
}

#submit-btn, #nxt-btn {
    margin: 3em 0;
    font-family: "Mali", sans-serif;
    font-weight: 600;
    background-color: #404040;
    color: #ffff00;
    font-size: .8em;
}

.score-area {
    font-size: 1.2em;
}

.feedback-section textarea {
    background-color: #404040;
    display: flex;
    margin: auto;
}

#feedback-btn {
    margin: 1em 0;
}